{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<h1>Products</h1>

<a href="{{ path('product_create') }}">Add Product</a>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Size</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.size }}</td>
                <td>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">Edit</a> |
                    <a href="{{ path('product_delete', {'id': product.id}) }}" onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
